In [ ]:
import pandas as pd
import numpy as np
import os
import sys
import pulp

data = pd.read_csv('../data/responses.csv')
# Drop the first row if it is a test
data["Full name"] = data["First name"] + " " + data["Last name"]
data.drop([0], inplace=True)
data.drop_duplicates(subset = ["Full name"], inplace = True)
data.head(5)

In [ ]:
# Drop the first row if it is a test
data["Full name"] = data["First name"] + " " + data["Last name"]
data.drop([0], inplace=True)
data.drop_duplicates(subset = ["Full name"], inplace = True)
data.head(5)

,Timestamp,First name,Last name,Email,Mobile number,Student Username/UPI,Dietary Requirements?,Name one person who you would like to be in a team with? (N/A if nobody),"Are you a 2025 KAC member (if you're returning but not yet signed up, answer ""No"")?",KAC card number?,Please Upload a Screenshot of Your Payment,"In signing up to this event, I consent to appearing in any photos/videos taken by KAC for social media purposes.",Full name
1,5/18/2025 18:01:58,Isaac,Ngai,isaacngai2005@gmail.com,02102850729,inga710,no,rosanne,Yes,0648,https://drive.google.com/open?id=1IOmh0pXrsIwx...,YES,Isaac Ngai
2,5/18/2025 18:02:02,Kayde,Huang,Kayde.huang@gmail.com,0279170506,NA (AUT),NaN,NaN,Yes,144,https://drive.google.com/open?id=1FWW8w-V5GQpp...,YES,Kayde Huang
3,5/18/2025 18:02:04,andrea,ramos,eycie.ramos@gmail.com,021445220,NaN,none,Isaac and Rosanell,Yes,NaN,https://drive.google.com/open?id=14FHLy_D6G2tE...,YES,andrea ramos
4,5/18/2025 18:02:15,Rosanne,Lai,rosannelai1127@gmail.com,0211306760,llai228,no,Isaac,Yes,1159,https://drive.google.com/open?id=1wQnvnFfng1Y_...,YES,Rosanne Lai
5,5/18/2025 18:02:17,Marcus,Fuller,marcusdsfuller@gmail.com,0224060454,mful720,na,Melody,Yes,1200,https://drive.google.com/open?id=1QUKTzcbWv9NQ...,YES,Marcus Fuller

In [21]:
data["Name one person who you would like to be in a team with? (N/A if nobody)"].apply(lambda x: str(x).strip())

0                                        nan
1                                    rosanne
2                                        nan
3                         Isaac and Rosanell
4                                      Isaac
5                                     Melody
6                                       Stas
7                                Andrew Kimüòç
8                                        nan
9                                        nan
10                                       nan
11                                       nan
12                               Victor Tran
13                               grace joyce
14                                    Chinny
15                            marcus fuller!
16                                         .
17                                Halle Tang
18                                  Kate zhu
19                                       nan
20    jason xie, melody beddgood, reya rawat
21                                 Lauren Xu
22                           Sophie Lee Sang
23                      Hernan Cortez Moreno
24                                    Edmond
25                           i habe no prens
26                                 Ryan Chen
27                                 Dora zhou
28                                       Jin
29                                    Disala
30                                        na
31                                Khiem Pham
32                             Killian, Reya
33                                 Jason Xie
34                  Charleen from tansa oops
35                                    Amelia
36                             orlando, jack
37                    Allie chan, isaac ngai
38                      Prince de los Santos
39                                Haydn Chau
40                                     Holly
41                             Miranda Zhang
42                                       nan
43                                       nan
44                                        Na
45                                   Ruth Xu
46                                     ricky
47                               Raph Dimuan
48                                Fiona Yang
Name: Name one person who you would like to be in a team with? (N/A if nobody), dtype: object